// colors /////////
$color01: #FFFFFF;
$color02: #F8F9FA;      
$color03: #F2F2F2;
$color04: #E8F0FE;
$color05: #9AA0A6;
$color06: #70757A;
$color07: #1a0dab;
$color08: #5F6368;
$color09: #000000DE;
$color10: #3c4043;
$color11: #4d5156;
$color12: #681da8;
$color13: khaki;

// font-size/////// 
$fsize01: 13px;
$fsize02: 14px;
$fsize03: 15px;

// size///////////
$size04: 16px;
$size05: 26px;
$size01: 20px;
$size02: 272px;
$size03: 584px;
$size07: 60px;
$size08: 24px;
$size09: 95px;
$size10: 58px;
$size11: 30px;
$size12: 18px;